@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

:root {
    /* Primary */

    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);

        /* Neutral */

    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);

    /* Background Clear/Dark */ 
    --background-light: #ffffff;  
    --background-dark: rgb(19, 19, 19); 

    /* FONT */

    --font: 'Public Sans', sans-serif;
}

/* GLOBAL */
html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
    body {
    font-size: 1.6rem;
    font-family: var(--font);
  
    background-color: var(--background-light);
    color: #000000;
  }
    *, *:before, *:after {
    box-sizing: inherit;
  }


  /* HEADER */ 
  body {
    background-color: var(--Very-Light-Gray);
  }
  .header {
    background-color: var(--Very-Light-Gray);
    position: relative;
    z-index: 2;
    
  }
  .header-nav__a {
    z-index: 1;
  }
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2.5rem 0 2.5rem 0;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.1);
    background-color: var(--White);
    z-index: 2;
    position: relative;

  }

  .header-div__div-links {
    text-decoration: none;
    color: var(--Grayish-Blue);
    padding: 1.5rem;

  }


  .cta {
    padding: 1.5rem 3rem 1.5rem 3rem;
    border-radius: 5rem;
    background: linear-gradient(90deg, rgba(49, 211, 92, 1) 20%, rgba(43, 182, 217, 1) 100%);
    color: #fff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: none;
    z-index: 1;

    transition: all 0.1s ease;
  }
  .cta:hover {
    opacity: 0.7;
    transform: scale(0.95);
  }

  
  .hoverbg {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.hoverbg:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2.5rem;
    width: 0;
    height: 0.3rem;
    background: rgb(49, 211, 92);
    background: linear-gradient(90deg, rgba(49, 211, 92, 1) 28%, rgba(43, 182, 217, 1) 100%);
    transition: width 0.3s ease;
}

.hoverbg:hover:after {
    width: 90%;
}





.nav_items a:hover::before{
    width: 100% !important;
}
.nav_toggle{
    display: none;
    z-index: 1;
    
}
@media (max-width: 768px) {

    .header-div-cta {
        display: none;
        opacity: 0;
    }
    .hoverbg:after {
        content: '';
        position: static;
        left: 0;
        bottom: 0rem;
        width: 0;
        height: 0;
        background: none;
    }
    
    .header-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        z-index: 1;
    }

    .header__navegacion-items{
        position: absolute;
        bottom: -100rem;
        left: 0;
        display: flex; 
        flex-direction: column;
        width: 100%;
        height: -webkit-fill-available;
        transform: translateY(-100%);
        background-color: #ffffff;
        z-index: 1;
        transition: 0.2s ease all;

        
        
}
.header__navegacion-items a {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    position: relative;
    top: 15rem;
    text-transform: uppercase;
    transition: background-color 0.3s ease, border-radius 0.3s ease; /* Add a smooth transition effect */
}

.header__navegacion-items a:hover {
    background-color: var(--Very-Light-Gray);
    border-radius: 1.5rem;
    text-align: center;
}

.nav_toggle{
        display: flex !important;
        flex-direction: column;                
        cursor: pointer;
                z-index: 1;
}
.nav_toggle span{
        width: 2.5rem;
        height: 0.2rem;
        background: rgb(139, 139, 139);
        margin-bottom: .5rem;
        border-radius: 0px;             
        transform-origin: 0.5rem 0rem;
        transition: all 0.2s linear;
        z-index: 1;

        
}
.close span{
        transform: rotate(45deg) translate(0px, 0px);
}
.close span:nth-child(2){
        display: none;
}
.close span:nth-child(3){
        transform: rotate(-45deg) translate(-5px, 1px);
}
.open{ 
  transform: translateX(0) !important
  
}
}
.no-scroll {
  overflow: hidden;
}


/* HERO */
.hero-phones {
    
    background-image: url(../images/bg-intro-mobile.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    bottom: 17rem;

}
.hero-phones__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80%;
}
.hero-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -15rem;
    margin-bottom: 11rem;
}
.hero-intro__text{
    text-align: center;
    margin: auto;
}
.hero-intro__text-h1 {
    font-weight: 400;
    color: var(--Dark-Blue);
    font-size: 5rem;
    
    margin: auto;
    max-width: 80%;
    margin-bottom: 3rem;
}

.hero-intro__text-h2 {
    font-weight: 400;
    color: var(--Grayish-Blue);
    font-size: 2.25rem;
    line-height: 3.5rem;
    margin: auto;
    max-width: 85%;
    text-align: justify;

    margin-bottom: 5rem;
}

/* SECTION 1 */

.section1 {
    background-color: var(--Light-Grayish-Blue);
}

.section1-div1 {
    padding-top: 5rem;
    text-align: center;
}

.section1-h3 {
    font-size: 4rem;
    font-weight: 400;
    width: 70%;
    margin: auto;
    color: var(--Dark-Blue);
    margin-bottom: 2rem;
    
}
.section1-p {
    font-size: 2rem;
    font-weight: 400;
    width: 80%;
    line-height: 2.8rem;
    margin: auto;
    color: var(--Grayish-Blue);
    margin-bottom: 10rem;
}
.section1-categories {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-bottom: 5rem;
    
}
.section1-img {
    width: 17%;
}
.cat-h4 {
   font-weight: 400;
   color: var(--Dark-Blue);
   font-size: 2.5rem; 
   margin-bottom: 1.5rem;
   width: 90%;
   margin: auto;
   margin-top: 2.5rem;
}

.cat-generalp {
    font-size: 1.8rem;
    font-weight: 400;
    width: 80%;
    line-height: 2.8rem;
    margin: auto;
    color: var(--Grayish-Blue);
    margin-bottom: 4rem;
    margin-top: 2.5rem;
}



/* SECTION 2*/


.section2-h2 {
    font-size: 4rem;
    font-weight: 400;
    color: var(--Dark-Blue);

    text-align: center;
    margin: auto;
    
    padding: 10rem 0 4rem 0;
}
.blogcard {
    max-width: 90%;
    background-color: #fff;
    border-radius: 0.8rem;
    overflow: hidden;
    box-shadow: 0 0 0.09rem rgba(0, 0, 0, 0.1);
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}


.blogcard img {
    width: 100%;
    height: auto;
}

.blogcard-details {
    padding: 2rem 4rem 4rem 4rem;
}

.blogarticle-author {
    margin-top: 1.5rem;
    font-size: 1.3rem;
    color: var(--Grayish-Blue);
}

.blogcard-tittle {
    margin-top: 1.5rem;
    color: var(--Dark-Blue);
    font-size: 2.3rem;

}

.blogcard-info {
    line-height: 1.4;
    margin-top: -1rem;
    color: var(--Grayish-Blue);
    font-size: 1.7rem;

}
.carddivider {
    margin-bottom: 2.5rem;
}



/* FOOTER */

.footer {
    background-color: var(--Dark-Blue);
    margin-top: 5rem;
}
.footer-part1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 3.5rem;
    gap: 2.7rem;
}
.logo-footer-png {
    width: 40%;
    display: flex;
    margin: auto;
}
.footer-part1__sl {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.footer-part2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    margin: 3rem 0 3.5rem 0;
}
.footer-part2-group1 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-part2-group2 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.no_underline-dec {
    text-decoration: none;
    color: var(--White);
    font-weight: 300;
}

.footer-part3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.copy {
    margin-top: 3rem;
    color: var(--Grayish-Blue);
}


.copy2 {
    text-decoration: none;
    color: var(--Grayish-Blue);
    margin-bottom: 4rem;

}


/** RESPONSIVE DESIGN **/



/* HERO */

@media (min-width: 769px) {
    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr; 

      }
  
      .hero-phones {
        display: flex;
        justify-content: center; /* Align content to the start (left) */
        order: 1; /* Change the order to 2, so it appears on the right */
      }

      .hero-phones {
    
        background-image: url(../images/bg-intro-desktop.svg);
        background-position: right;
        background-repeat: no-repeat;
        background-position-x: 30%;
        background-size: cover;
        position: relative;
        z-index: 0;
        bottom: 17rem;
    
    }
    .hero-intro__text {
        text-align: left;
        margin: auto;
        padding: 0;
        margin-left: 10rem;


    }
    .hero-intro__text-h1 {
        margin: 0;
        margin-bottom: 2rem;
        max-width: 80%;
        font-size: 400%;
    }

    @media (max-width: 950px) { 
        .hero-intro__text-h1 {
            margin-top: 20rem;
            margin-bottom: 2rem;
            max-width: 80%;
            font-size: 400%;

        }
    
    }
    .hero-intro__text-h2 {
        margin: 0;
        margin-bottom: 4rem;
    }
    .hero-intro-cta {
        margin: 0;
    }

    .hero {
        margin: 0;
        padding-bottom: 0;
    }
  



}


/* SECTION1 */

@media (min-width: 769px) {
    .section1 {
        background-color: var(--Light-Grayish-Blue);
    }
    
    .section1-div1 {
        padding-top: 10rem;
        text-align: left;
        margin: 0;
    }
    
    .section1-h3 {
        font-size: 4rem;
        font-weight: 400;
        margin: auto;
        color: var(--Dark-Blue);
        margin-bottom: 2rem;
        margin: 0 0 2rem 15rem;
        
    }
    .section1-p {
        font-size: 2rem;
        font-weight: 400;
        width: 100%;
        max-width: 50%;
        line-height: 2.8rem;
        color: var(--Grayish-Blue);
        margin: 0 0 5rem 15rem;
    }
    .section1-categories {
        text-align: left;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding-bottom: 10rem;
        
    }
    .section1-categories {
        max-width: 80%;
        margin: auto;
    }

    .section1-img {
        width: 20%;

    }
   
    .cat-h4 {
       font-weight: 400;
       color: var(--Dark-Blue);
       font-size: 2.5rem; 
       width: 90%;
       margin: 0;
       margin-top: 3rem;
    }
    
    .cat-generalp {
        font-size: 1.8rem;
        font-weight: 400;
        width: 80%;
        line-height: 2.8rem;
        margin: auto;
        color: var(--Grayish-Blue);

        margin: 0;
        margin-top: 3rem;
    }

}

/* SECTION2 */
@media (min-width: 991px) {
  
body, html {
    margin: 0;
    padding: 0;
}   
.section2-h2 {
    font-size: 4rem;
    font-weight: 400;
    color: var(--Dark-Blue);
    text-align: left;
    margin: auto;
    width: 95%;
    padding: 10rem 0 4rem 0;
}

.section2-div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.blogcard {
    width: calc(20% - 2rem);
    background-color: #fff;
    border-radius: 0.8rem;
    overflow: hidden;
    box-shadow: 0 0 0.09rem rgba(0, 0, 0, 0.1);
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    max-height: 10%;
}

.blogcard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0 0;
}

.blogcard-details {
    padding: 2rem;
}

.blogarticle-author {
    margin-top: 1.5rem;
    font-size: 1.3rem;
    color: var(--Grayish-Blue);
}

.blogcard-tittle {
    margin-top: 1.5rem;
    color: var(--Dark-Blue);
    font-size: 2.3rem;
}

.blogcard-info {
    line-height: 1.4;
    margin-top: -1rem;
    color: var(--Grayish-Blue);
    font-size: 1.7rem;
}

.carddivider {
    margin-bottom: 2.5rem;
}
   

}


/* FOOTER */

@media (min-width: 769px) { 
    .footer {
        background-color: var(--Dark-Blue);
        margin-top: 10rem;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .footer-part1 {
        margin: 0;
        padding: 8rem 0 5rem 0;
        display: flex;
        flex-direction: column;


    }
    .logo-footer-png {
        width: 40%;
        display: flex;
        margin: auto;
    }
    .footer-part1__sl {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 2.5rem;
        margin-top: 0.5rem;
    }
    
    .footer-part2 {
        display: flex;
        flex-direction: row;
        text-align: left;
        gap: 10rem;
        font-size: 1.9rem;
        padding-top: 2rem;
        margin: auto;
    }
    .footer-part2-group1 {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    
    .footer-part2-group2 {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    
    .no_underline-dec {
        text-decoration: none;
        color: var(--White);
        font-weight: 300;
    }
    
    .footer-part3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: right;
        margin: auto;
        padding-top: 5rem;
    }
    
    .copy {
        margin-top: 3rem;
        color: var(--Grayish-Blue);
        text-align: right;
    }
    
    
    .copy2 {
        display: none;
    
    }
    
}